# Git
.git
.gitignore

# Docker
.docker

# Python
api/__pycache__/
api/*/__pycache__/
api/*/*/__pycache__/
api/*/*/*/__pycache__/

synthesis-api/__pycache__/
synthesis-api/*/__pycache__/
synthesis-api/*/*/__pycache__/
synthesis-api/*/*/*/__pycache__/

# Node
web/node_modules
web/build

# Environment
.env/
.venv/
venv/
