# Git
.git
.gitignore

# Docker
.docker
.dockerignore

# Python
api/__pycache__/
api/*/__pycache__/
api/*/*/__pycache__/
api/*/*/*/__pycache__/

synthesis-api/__pycache__/
synthesis-api/*/__pycache__/
synthesis-api/*/*/__pycache__/
synthesis-api/*/*/*/__pycache__/

# Node
build
node_modules

# Environment
.env/
.venv/
venv/

# Other
.DS_Store
